@model OnlineShop.Clients.MVC.Areas.Admin.Models.AddProduct

@{
    ViewBag.Title = "Add";
}

<div class="container">
    <h2 class="center-align">Add Product</h2>
    @using (Html.BeginForm("Add", "AdminProducts", new { area = "Admin" }, FormMethod.Post, null))
    {
        @Html.AntiForgeryToken();

        @Html.ValidationSummary(true, "")

        <div class="row">
            <div class="input-field col s6">
                @Html.LabelFor(x => x.ProductId)
                @Html.TextBoxFor(x => x.ProductId)
                <br />
                @Html.ValidationMessageFor(x => x.ProductId)
            </div>
            <div class="input-field col s6">
                @Html.LabelFor(x => x.Photo1)
                @Html.TextBoxFor(x => x.Photo1)
                <br />
                @Html.ValidationMessageFor(x => x.Photo1)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name)
                <br />
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="input-field col s6">
                @Html.LabelFor(x => x.Photo2)
                @Html.TextBoxFor(x => x.Photo2)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                @Html.LabelFor(x => x.Count)
                @Html.TextBoxFor(x => x.Count)
            </div>
            <div class="input-field col s6">
                @Html.LabelFor(x => x.Photo3)
                @Html.TextBoxFor(x => x.Photo3)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                @Html.LabelFor(x => x.Price)
                @Html.TextBoxFor(x => x.Price)
                <br />
                @Html.ValidationMessageFor(x => x.Price)
            </div>
            <div class="input-field col s6">
                @Html.LabelFor(x => x.Photo4)
                @Html.TextBoxFor(x => x.Photo4)
            </div>
        </div>

        <div class="row">
            <div class="input-field center-align">
                <input type="submit" value="Add" class="btn" />
            </div>
        </div>
    }
</div>
