@model OnlineShop.Libs.DtoModels.ProductDto

@{
    ViewBag.Title = "Single";
}
<div class="container">
    <h2 class="center-align">@Model.Name</h2>
    <div class="main-image-container hoverable inline-block">
        <img class="single-item-main-image materialboxed" src="@Model.Photo1" />
    </div>
    <div class="inline-block vertical-align-top margin-15">
        <h5>Product Id: @Model.ProductId</h5>
        <h5>Price: @Model.Price</h5>
    </div>
    <br />
    <div class="images-container">
        @if (!string.IsNullOrEmpty(Model.Photo2))
        {
            <img class="single-item-image materialboxed hoverable" src="@Model.Photo2" />
        }

        @if (!string.IsNullOrEmpty(Model.Photo3))
        {
            <img class="single-item-image materialboxed hoverable" src="@Model.Photo3" />
        }

        @if (!string.IsNullOrEmpty(Model.Photo4))
        {
            <img class="single-item-image materialboxed hoverable" src="@Model.Photo4" />
        }
    </div>
</div>
